<li>
  <div class="d-flex align-items-center gap-2 mb-3">
   <%= link_to user_path(@event.user) do %>
    <%= image_tag @event.user.decorate.avatar, class: 'rounded-circle avatar-lg'%>
    <%= @event.user.name %>
   <% end %>
  </div>
</li>
